body {
    font-family: 'Work Sans', sans-serif;
}

.header {
    background-color: #F3C6BD;
    padding: 57px 0 58px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex__start {
    justify-content: start;
}


.logo img {
    margin-right: 15px;
}

.logo__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;

}

.logo__text {
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
}



.header__link {
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #2B292D;
    text-decoration: none;
}

.header__ul {
    margin-right: 75px;
}

.header__li:first-of-type {
    margin-right: 30px;
}

.header__link:hover {
    font-weight: bold;
}

.button {
    width: 160px;
    height: 48px;
    border: 2px;
    background-color: #3040C4;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: 700;
}

.button:hover {
    background-color: #6f36a8;
    cursor: pointer;
    transition: 200px;
}

li a {
    position: relative;
}

li a:hover::before {
    content: '';
    position: absolute;
    text-decoration: underline;
    width: 100%;
    height: 2px;
    background-color: rgb(18, 55, 55);
    bottom: -5px;
}

li a:hover::after {
    content: '';
    position: absolute;
    text-decoration: underline;
    width: 100%;
    height: 2px;
    background-color: rgb(18, 55, 55);
    left: 0;
}


/* 
.preview {
    background-color: #F3C6BD;
    padding: 71px 0 77px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.preview__content {
    display: flex;
    justify-content: space-between;
}


.preview__info {
    flex-direction: column;
}

.preview__title {
    font-weight: 700;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    color: #2B292D;
    max-width: 754px;
}

.preview__text {
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    max-width: 456px;
    margin-top: 24px;
    margin-bottom: 58px;
}

.preview__button {
    width: 160px;
    height: 48px;
    border: none;
    background-color: #3040C4;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: 700;
    margin-right: 10px;
    margin-bottom: 126px;
}

.preview__button-two {
    width: 160px;
    height: 48px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #3040C4;
    font-weight: 700;
    padding: 17px 29px 18px 28px;
    margin-bottom: 126px;
} */

.purpose {
    background-color: #F4F5F7;
    padding: 77px 0 76px;

}

.purpose__left {
    margin-right: 29px;
}


.purpose__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
    margin-bottom: 30px;
}

.purpose__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
    max-width: 555px;

}

.audience {
    background-color: rgb(0, 161, 198, .07);
    padding: 108px 131px 110px;

}

.audience__content {
    margin: 0 auto;
    text-align: center;

}



.audience__features {
    max-width: 555px;
    margin: 0 auto;
}


.audience__pretitle {
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    margin-top: 231px;
    margin: 0 auto;
    max-width: 167px;
    font-weight: 700;
}

.audience__title {
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin: 0 auto;
    margin: 24px 0 30px;
}

.audience__text {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    max-width: 555px;
}


.audience__button-1 {
    line-height: 13px;
    color: #FFFFFF;
    width: 160px;
    height: 48px;
    border: 2px;
    background-color: #3040C4;
    padding: 17px 29px 18px 28px;
    margin-top: 51px;
    margin-bottom: 129px;
    margin-right: 10px;
}

.audience__button-1:hover {
    line-height: 13px;
    color: #FFFFFF;
    width: 160px;
    height: 48px;
    border: 2px;
    background-color: #666984;
    padding: 17px 29px 18px 28px;
    cursor: pointer;
}

.audience__button-2 {
    width: 160px;
    height: 48px;
    border: 2px;
    background-color: #FFFFFF;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #3040C4;
    font-weight: 700;
    padding: 17px 29px 18px 28px;


}

.audience__list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.audience__pic {
    background-color: #F4F5F7;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    text-align: center;

}

.audience__pic:hover {
    background-color: #3040C4;
    cursor: pointer;
    transition: 2ms;

}

.audience__pic:hover>.audience__subtitle {
    color: #FFFFFF;
}


.audience__subtitle {
    justify-content: center;
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    color: #2B292D;
}



.brands {
    padding: 76px 0 171px;
}


.brands__content {
    justify-content: space-between;
}



.inbox {
    background-color: rgb(252, 240, 227, .4);
    padding: 115px 0 116px;
}


.inbox__response {
    max-width: 519px;
    width: 100%;
    background-color: #FFFFFF;
    padding: 30px 30px 24px;
    box-sizing: border-box;
    border-bottom: 4px solid #0185D0;
}

.inbox__text {
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    padding-bottom: 26px;
}

.inbox__text-bold {
    font-weight: 700;
}

.inbox__img {
    margin-right: 11px;
}

.inbox__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #2B292D;
}

.inbox__position {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}


.info__pretitle {
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 26px;
}

.info__pretitle-orange {
    color: #F1592B;
}

.info__title {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    font-weight: bold;
    max-width: 462px;
    margin-bottom: 26px;
}

.info__text {
    max-width: 461px;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 44px;
}


.communicate {
    padding: 110px 0 105px;


}

.communicate__content {
    justify-content: space-between;
    text-align: center;
}

.communicate__built {
    flex-direction: column;
    text-align: start;
}

.communicate__pretitle {
    font-size: 22px;
    line-height: 34px;
    text-align: start;

}


.communicate__pretitle-blue {
    color: #0189D1;
}

.communicate__title {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    max-width: 462px;
    margin-top: 24px;
    margin-bottom: 30px;
    text-align: start;
}

.communicate__text {
    font-family: 'WorkSans';
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 39px;
    max-width: 461px;
    text-align: start;
}

.communicate__learn {
    margin: 105px 0;
    justify-content: space-around;
}


.learn__text-bold {
    font-weight: 700;
}

.learn__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    max-width: 360px;
    margin-bottom: 20px;
}


.learn__link {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: rgba(49, 66, 198, 1);
}


.pictures {
    padding: 90px 0 91px;

}

.pictures__aim {
    max-width: 588px;
    margin: 0 auto;
}

.pictures__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    color: #000000;
    padding-bottom: 26px;

}

.pictures__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #172342;
    max-width: 556px;
    margin-bottom: 96px;

}

.grid {
    display: grid;
    gap: 49px 41px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 300px;
}

.item {
    width: 100%;
    height: 100%;
}

.item:nth-child(3) {
    grid-row: span 2;

}

.item:nth-child(4) {
    grid-row: span 2;
}


@media screen and (max-width:1200px) {
    .container {
        max-width: 1040px;
    }

    .header__ul {
        margin-right: 50px;
    }
}


@media screen and (max-width:1090px) {
    .container {
        max-width: 750px;
    }

    /* header */

    .logo__text {
        display: none;
    }

    .header__nav {
        display: none;
    }

    /* purpose */

    .flex__content-column {
        flex-direction: column;
        
    }

    .purpose__content {
        max-width: 432px;
        margin: 69px 0 34px;
        margin: 0 auto;
    }

    .purpose__left {
        margin-bottom: 66px;
    }


    /* brands */

    .brands__content-grid {
        display: grid;
        gap: 37px 130px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 0 29px 0 41px;
    }

    .logo__item {
        max-width: 82%;
    }

    /* inbox */

    .flex__inbox-column {
        flex-direction: column-reverse;
    }

    .inbox {
        padding: 56px 0 69px;
    }

    .info {
        text-align: center;
    }

    .info__title {
        margin: 0 auto;
        font-size: 48px;
        line-height: 52px;
    }

    .info__text {
        max-width: 429px;
        margin: 0 auto 41px;
        font-size: 20px;
        line-height: 26px;
    }

    .inbox__response {
        margin: 0 auto 75px;
        text-align: start;
    }
    .container-image__img{
        max-width:290px;
        width:100% 
    }

    /* communicate */


    .communicate {
        padding: 73px 0 38px;
    }

    .flex__content-column {
        flex-direction: column;

    }

    .communicate__built {
        text-align: center;
        margin-bottom: 37px;
    }

    .communicate__pretitle {
        text-align: center;
    }

    .communicate__title {
        font-size: 48px;
        margin: 18px 0 19px;
        max-width: 318px;
        text-align: center;
        margin: 0 auto;
    }

    .communicate__text {
        max-width: 419px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 41px;
    }

    .communicate-image__img {
        width: 100%;
    }

    .communicate__learn {
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
        max-width: 322px;
        margin-bottom: 38px;

    }

    .learn-item:nth-child(2),
    .learn-item:nth-child(3) {
        display: none;
    }


    /* 
    audience */

    .audience {
        padding: 50px 0 79px;

    }

    .audience__title {
        font-size: 48px;
        text-align: center;
        max-width: 413px;
        margin: 0 auto;
        margin-bottom: 27px;
        margin-top: 27px;

    }

    .audience__text {
        font-size: 20px;
        line-height: 26px;
        max-width: 466px;
        margin-bottom: 27px;
        margin: 0 auto;
        margin-bottom: 27px;
    }

    .audience__list-grid {
        display: grid;
        gap: 38px 64px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 52px 0 79px;

    }

    .audience__pic {
        max-width: 262px;
        height: 300px;
        width: 100%;
        margin: 0 auto;
    }

    /* pictures */

    .pictures {
    padding: 113px 0 124px;
}


    .pictures__title {
    font-size: 48px;
    line-height: 56px;
    max-width: 500px;
    align-items: center;
    margin: 0 auto;
}

    .pictures__text {
    font-size: 20px;
    max-width: 399px;
    align-items: center;
    margin: 0 auto;
}

    .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 29px 45px;
    margin-top: 113px;
}

    .item:nth-child(7) {
    display: none;
}

    .item:nth-child(3) {
    grid-column: 2/3;
    grid-row: 1/3;
}

    .item:nth-child(4) {
    grid-row: 2/4;
}

    .item:nth-child(2) {
    grid-row: 4/5;
    grid-column: 2/3;
}
    .communicate-image__img{
    max-width: 100%;
}


}





@media screen and (max-width:800px) {
    /* header */

    .container {
        max-width: 500px;
    }

    .header {
        padding: 25px 0;
    }

       /* brands */

   
       .brands__content-grid {
        display: grid;
         gap: 0;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 0 auto;
        max-width: 100%;
    }
    
    .purpose__content {
        max-width: 432px;
        margin: 69px 0 34px;
        margin: 0 auto;
    }
    .logo__item {
        width: 100%;
         background: #FFFFFF;
        align-items: center; 
        
    }

    .logo__item-pic{
        padding: 10px;
         display: flex; 
        align-items: center;
        justify-content: center; 
    }
    .communicate-image__img{
        max-width: 100%;
    }


    /* inbox */

    .inbox {
        padding: 40px 0;
    }

    .inbox__response {
        margin-bottom: 50px;
    }

    .container-image__img{
        max-width:290px;
        width:100% 
    }

    .communicate {
        padding: 50px 0 60px;
    }

    .communicate__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
        margin-top: 30px;
        margin: 0 auto;
    }

    .communicate__learn {
        margin-top: 45px;
    }

    .communicate-image__img{
        max-width: 100%;
    }


    .audience__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;

    }

    .pictures__title {
        font-size: 40px;
        line-height: 52px;
        text-align: center;
    }
}

@media screen and (max-width:550px) {
    .container {
        max-width: 430px;
    }

    .purpose__content {
        max-width: 432px;
        margin: 69px 0 34px;
        margin: 0 auto;
    }

    /* inbox */

    .inbox {
        padding: 50px 0 48px;
    } 

    .container-image {
        margin-bottom: 32px;
    }


    .flex__inbox-column {
        flex-direction: column;
    }

    .info {
        text-align: start;
        margin-bottom: 50px;
    }

    .info__title {
        margin-bottom: 18px;
    }

    .container-image__img{
        max-width:290px;
        width:100% 
    }

    .brands{
        padding: 40px 0 40px;
    }
     

    .logo__item {
        align-items: center;
    }

    .info-pretitle {
        margin-bottom: 20px;
    }


    .info__title {
        font-size: 36px;
        line-height: 48px;

    }
    .communicate-image__img{
        max-width: 100%;
    }


    .item {
        margin-right: 30px;
    }
}



@media screen and (max-width:480px) {

    .container {
        max-width: 310px;
    }

    .header {
        background-color: #fff;
        padding: 8px 0;
    }

    .purpose__content {
        max-width: 432px;
        margin: 69px 0 34px;
        margin: 0 auto;
    }
    /* brands */
    

    .logo__item-pic{
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo__item .logo{
        height:100%;
        width:90%
    }

    /* inbox */

     .inbox {
        padding: 50px 0 48px;
    } 

    .container-image {
        margin-bottom: 32px;
    }


    .flex__inbox-column {
        flex-direction: column;
    }

    .info {
        text-align: start;
    }

    .info__title {
        margin-bottom: 18px;
    }

    .container-image__img{
        max-width:290px;
        width:100% 
    }

    .communicate-image__img{
        max-width: 100%;
    }


   /* audience */


    .audience__list-grid {
        gap: 15px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .audience__pic {
        grid-column: span 1;

    }

    .audience__features {
        padding: 50px 0 10px;
    }

    .audience__button-1 {
        width: 290px;
        height: 48px;
        left: 15px;
        top: 5447px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .audience__button-2 {
        width: 290px;
        max-width: 250 px;
    }

    .pictures__aim {
        padding-top: 30px;
    }


    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        gap: 20px;
    }

    .item:nth-child(2) {
        display: none;
    }

    .item:nth-child(3) {
        grid-column: 1/2;
        grid-row: 4/6;
    }

    .item:nth-child(4) {
        grid-row: 2/4;
    }


}


@media screen and (max-width:360px) {
    .container {
        max-width: 300px;
    }

    .header {
        background-color: #fff;
        padding: 8px 0;
    }

    .purpose__content {
        max-width: 432px;
        margin: 69px 0 34px;
        margin: 0 auto;
    }

    .container-image__img{
        max-width:290px;
        width:100% 
    }


    .logo__item-pic{
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo__item .logo{
        height:100%;
        width:90%
    }

    .communicate-image__img{
        max-width: 100%;
    }


}

@media screen and (max-width:320px) {

    .container {
        max-width: 290px;
    }

    /* header */
    .header {
        background-color: #fff;
        padding: 8px 0;
    }

    .purpose__content {
        max-width: 432px;
        margin: 69px 0 34px;
        margin: 0 auto;
    }

    .logo img {
        margin-right: 13px;
        max-width: 290px;
    }



     /* purpose */

     .purpose__content {
        margin: 46px 15px;
    }

    .purpose__left {
        margin-bottom: 20px;
    }

    /* brands */

    .brands{
        padding:  40px 0 50px;
     }
    .brands__content-grid {
        display: grid;
        gap: 0;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 0 auto;
        max-width: 100%;
    }

    .logo__item {
        width: 100%;
        background: #FFFFFF;
        height: 94px;
        align-items: center;
        
    }

    .logo__item-pic{
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo__item .logo{
        height:100%;
        width:90%
    }


    /* inbox */

    .inbox {
        padding: 50px 0 48px;
    }

    .container-image {
        margin-bottom: 32px;
    }


    .flex__inbox-column {
        flex-direction: column;
    }

    .info {
        text-align: start;
    }
    .container-image__img{
        max-width:290px;
        width:100% 
    }

    .info__pretitle {
        margin-bottom: 17px;
    }

    .info__title {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.357143px;
        margin-bottom: 18px;
    }

    .info__text {
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 40px;
    }

    .inbox__response {
        padding: 30px 20px;
    }



    .communicate {
        padding: 50px 0 20px;
    }

    .flex__content-column {
        flex-direction: column;

    }

    .communicate__built {
        text-align: start;
        margin: 0 auto;
    }

    .communicate__pretitle {
        text-align: start;
    }

    .communicate__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        margin: 17px 0 18px;
        max-width: 290px;
        text-align: start;
    }

    .communicate-image__img{
        max-width: 100%;
    }

    .communicate__text {
        max-width: 290px;
        margin-bottom: 30px;
        text-align: start;
    }

    .communicate__learn {
        text-align: start;
        max-width: 290px;

    }

    .learn-item:nth-child(2) {
        display: block;
        margin: 32px 0 32px;
    }

    .learn-item:nth-child(3) {
        display: block;
        margin: 2px 0 32px;
    }
    
    /* 
    audience */

    .audience {
        padding: 50px 0 50px;
    }

    .audience__features {
        justify-content: center;
        max-width: 290px;
    }


    .audience__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        max-width: 290px;
        margin: 0 auto;
        margin-top: 17px;
        margin-bottom: 18px;
    }

    .audience__text {
        max-width: 290px;
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: center;
    }

    .audience__button-1 {
        width: 290px;
        height: 48px;
        left: 15px;
        top: 5447px;
    }

    .audience__button-2 {
        width: 290px;
        height: 48px;
        left: 15px;
        top: 5507px;
    }

    .audience__list-grid {
        display: grid;
        gap: 15px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        margin-top: 40px;
        margin-bottom: 50px;
    }

    .audience__pic {
        grid-column: span 1;
    }

    
    /* pictures */

    .pictures {
        padding: 20px 0 30px;
    }


    .pictures__aim {
        padding-top: 78px;
    }

    .pictures__title {
        font-size: 40px;
        line-height: 47px;
        max-width: 326px;
        margin: 0 auto;
        text-align: center;
    }

    .pictures__text {
        font-size: 24px;
        line-height: 34px;
        max-width: 303px;
        height: 102px;
        margin: 0 auto;
    }

    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        gap: 17px;
    }

    .item:nth-child(2) {
        display: none;
    }

    .item:nth-child(3) {
        grid-column: 1/2;
        grid-row: 4/6;
    }

    .item:nth-child(4) {
        grid-row: 2/4;
    }

    

}